/*
  Fonts
    Uni Sans
*/

@font-face {
  font-family: 'Uni Sans';
  src:
    /* local('UniSansRegular'), */
    url('../fonts/uni-sans.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Sans';
  src:
    /* local('UniSansRegularItalic'), */
    url('../fonts/uni-sans-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Uni Sans';
  src:
    /* local('UniSansThin'), */
    url('../fonts/uni-sans-thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Sans';
  src:
    /* local('UniSansThinItalic'), */
    url('../fonts/uni-sans-thin-italic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Uni Sans';
  src:
    /* local('UniSansLight'), */
    url('../fonts/uni-sans-light.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Sans';
  src:
    /* local('UniSansLightItalic'), */
    url('../fonts/uni-sans-light-italic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Uni Sans';
  src:
    /* local('UniSansBook'), */
    url('../fonts/uni-sans-book.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Sans';
  src:
    /* local('UniSansBookItalic'), */
    url('../fonts/uni-sans-book-italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Uni Sans';
  src:
    /* local('UniSansSemiBold'), */
    url('../fonts/uni-sans-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Sans';
  src:
    /* local('UniSansSemiBoldItalic'), */
    url('../fonts/uni-sans-semibold-italic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Uni Sans';
  src:
    /* local('UniSansBold'), */
    url('../fonts/uni-sans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Sans';
  src:
    /* local('UniSansBoldItalic'), */
    url('../fonts/uni-sans-bold-italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Uni Sans';
  src:
    /* local('UniSansHeavy'), */
    url('../fonts/uni-sans-heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Uni Sans';
  src:
    /* local('UniSansHeavyItalic'), */
    url('../fonts/uni-sans-heavy-italic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

/*
  Reset / Normalize
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}