/*
  Page Header
*/

.chapter-header {
  margin: 2.8rem 0 3.4rem;
}

.chapter-title {
  display: flex;
  align-items: center;
}

.chapter-title-text {
  font-size: 3.6rem;
}

.chapter-colors {
  margin-right: 2rem;
}

.chapter-info {
  margin-left: 6.4rem;
}

.chapter-location {
  font-family: 'Uni Sans';
  font-size: 1.2rem;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
}

/*
  Design
*/

.chapter-region {
  position: absolute;
  top: 4vh;
  right: 0;
  bottom: 0;
  width: 60vw;
  font-family: 'Uni Sans';
  font-size: 24vw;
  font-weight: 900;
  text-transform: uppercase;
  text-align: right;
  /* color: rgb(235, 235, 235); */
  opacity: 0.04;
  z-index: -1;
  user-select: none;
  overflow: hidden;
}

/*
  Common
*/

.container-chapterpage {
  display: grid;
  grid-template-columns: 1fr minmax(380px, 1.1fr);
  grid-template-rows: min-content min-content 1fr;
  column-gap: 3rem;
}

.section-title {
  font-family: 'Uni Sans';
  font-size: 1.2rem;
  text-transform: uppercase;
}

.section-title-card {
  margin-bottom: 1rem;
}

.section-chapter-heads {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  gap: 1rem;
  margin: 0.5rem 0 4rem;
}

.section-roster {
  grid-column: 1;
  grid-row: 1 / span 2;
  margin-bottom: 4rem;
}

.section-events {
  grid-column: 2;
  grid-row: 2;
  margin-bottom: 4rem;
}

/*
  Chapter Leaders
*/

.chapter-head-card {
  flex: 0 1 50%;
  padding: 2rem 2.2rem;
  background: #fff;
  border-radius: 7px;
  min-height: 10.6rem;
}

.chapter-head-title {
  margin-bottom: 0.8rem;
  font-family: 'Uni Sans';
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(34, 34, 34, 0.4);
}

.chapter-head-displayname {
  font-family: 'Uni Sans';
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.chapter-head-name {
  font-weight: 400;
  letter-spacing: -0.05em;
  color:rgba(34, 34, 34, 0.85);
}


/*
  Roster
*/

.roster-list {
  list-style: none;
}

.player {
  display: flex;
  align-items: center;
  /* padding: 1.6rem 0; */
  height: 6.4rem;
  border-bottom: 1px solid #e2e2e2;
}

.player:last-child {
  border-bottom: none;
}

.player-info {
  flex: 1 0 0;
  display: flex;
  align-items: center;
}

.player-picture {
  flex: 0 0 3rem;
  background: rgba(34, 34, 34, 0.1);
  height: 3rem;
  border-radius: 50%;
}

.player-info-text {
  flex: 1 0 75%;
  margin-left: 1rem;
}

.player-displayname {
  font-family: 'Uni Sans';
  font-size: 1.4rem;
  font-weight: 700;
}

.player-name {
  font-size: 0.9rem;
  letter-spacing: -0.05em;
  color: rgba(34, 34, 34, 0.7);
}

.player-info-alt {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 25%;
  align-items: center;
  margin-right: 1rem;
}

.player-rank {
  flex: 0 0 50%;
  padding-right: 1.4rem;
  text-align: center;
}

.player-rank img {
  width: 3rem;
}

.player-role {
  flex: 1 0 3.6rem;
  font-family: 'Uni Sans';
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: rgba(34, 34, 34, 0.2);
}

.player-sub .player-info,
.player-sub .player-rank {
  opacity: 0.4;
  transition: opacity 150ms ease-out;
}

.player-sub:hover .player-info,
.player-sub:hover .player-rank,
.player-sub:active .player-info,
.player-sub:active .player-rank {
  opacity: 1;
}

/*
  Events
*/

.event-list {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  list-style: none;
}

.event-card {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  height: 4.6rem;
  background: #fff;
  border-radius: 7px;
  font-family: 'Uni Sans';
  font-size: 0.95rem;
  font-weight: 700;
  color: #666;
  transition: color 150ms ease-out;
}

.event-card:hover,
.event-card:active {
  color: #222;
}

/* .event-icon img {
  margin-right: 0.3rem;
  width: 1.5rem;
} */

.event-name {
  flex: 1 0;
  text-transform: uppercase;
  line-height: 1.2rem;
}

.event-placement {
  flex: 0 0 5.5rem;
  text-align: right;
}

/*
  Mobile / Responsive
*/

@media screen and (max-width: 1380px) {
  .section-chapter-heads {
    flex-direction: column;
  }
}

@media screen and (max-width: 1150px) {
  .chapter-title-text {
    font-size: 3rem;
  }

  .chapter-location {
    font-size: 1.1rem;
  }

  .container-chapterpage {
    grid-template-columns: 1fr minmax(370px, 0.8fr);
  }

  .section-events {
    grid-column: 1 / span 2;
    grid-row: 3;
  }
}

@media screen and (max-width: 840px) {
  .container-chapterpage {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .event-card {
    font-size: 0.85rem;
    padding: 0 1rem;
    height: 4.6rem;
  }
}

@media screen and (max-width: 450px) {
  .chapter-head-card {
    padding: 1.6rem 1.4rem;
    min-height: 8.6rem;
  }

  .chapter-head-title {
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
  }

  .chapter-head-displayname {
    font-size: 2rem;
  }

  .chapter-head-name {
    font-size: 0.95rem;
  }

  .player-info-alt {
    margin-right: 0;
  }

  .player-rank {
    padding-right: 0.8rem;
  }

  .player-rank img {
    width: 2.4rem;
  }
}

@media screen and (max-width: 400px) {
  .player-picture {
    flex-basis: 2.6rem;
    height: 2.6rem;
  }

  .player-info-text {
    margin-left: 0.8rem;
  }

  .player-displayname {
    font-size: 1.3rem;
  }
}